<div>
    <form action="/" method="post">
        <label for="">Nombre del producto</label>
        <input type="text" name="title" class="input_t" value="libro">

        <label for="">Precio</label>
        <input type="text" name="price" class="input_t" value="150.73">

        <label for="">Link de la imagen</label>
        <input type="text" name="thumbnail" class="input_t" value="https://cdn2.iconfinder.com/data/icons/flat-seo-web-ikooni/128/flat_seo2-04-512.png">

        <input type="submit" value="Enviar" class="input_btn">
    </form>

    {{> part_a}}
</div>